/*
Theme Name: Greenfields Penrith
Author: Reasonably Good
Template:   twentytwentyfive
Text Domain:  greenfieldspenrith

*/


//weights
$regular: 400;
$demi-bold: 600;
$bold: 700;

@mixin fas {
  font-family: 'Font Awesome 6 Pro' !important;
  font-weight: 900 !important;
}

//font-sizes
$body-size: 16px;
$font-size-h1: 48px;
$font-size-h2: 36px;
$font-size-h3: 26px;
$font-size-h4: $body-size;
$font-size-h5: 16px;

//box-sizing
$content-width: 1340px;
$sidepad:30px;

//colours
$green-one: #15605a;
$green-two: #327869;
$green-three: #50a06e;
$green-four: #aae68c;
$orange: #ff6e3c;
$orange-light: #fff0e1;
$grey: #333;
$white: #fff;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
      "green-one": $green-one,
      "green-two": $green-two,
      "green-three": $green-three,
      "green-four": $green-four,
      "orange": $orange,
      "orange-light": $orange-light,
      "grey": $grey,
      "white": $white,
  ),
  $theme-colors
);



html {
      margin: 0;
      min-height: 100vh;
}

body {
      font-family: 'avenir', sans-serif;
      font-weight: $regular;
      font-style: normal;
      color: $grey;
      background: $white;
      font-size: $body-size;
      margin: 0 auto;
      min-height: 100vh;
      line-height: 1.45;
      --wp--preset--font-size--medium: 18px;
      --wp--preset--font-size--large: 24px;
}

p {
      font-weight: $regular;
}
strong, b {
  font-weight: $bold;    
  em {
        font-style: italic;     
  }
}
h1,.h1 {
      font-weight: $bold;
}



//colours
@each $color, $value in $theme-colors {
  .bg-#{$color}, .has-#{$color}-background-color {
            background-color: $value;
            //color: $white;
            h1,.h1,h2,.h2,h3,.h3,h4,.h4,p,a,p a {
                  //color: $white;
                  background-color: $value;
            }
            .btn {
                  background-color: #{$color}-dark;
                  &:hover {
                        background-color: #{$color}-dark;
                        color: #{$color}-light;
                  }
            }
  }
  .wp-block-button.bg-#{$color} {
        background-color: $value;
        color: $white;
        a.wp-block-button__link:hover {
            background:rgba(0,0,0,0.2);  
        }
  }
  .wp-block-button .wp-block-button__link.has-#{$color}-background-color {
    background-color: $value;
    &:hover {
      background-color: darken($value, 10%) !important;
    }
  }
  .wp-block-button.border-#{$color} {
        background: transparent;
        border: 1px solid $value;
        a.wp-block-button__link {
            color: $value;  
            &:hover {
                  outline: 2px solid;
                  background:transparent;  
             }  
        }  
  }
  .#{$color}, .has-#{$color}-color {
              color: $value;
              a, p a {
                    color: $value;
                    &:hover {
                          //color: darken($value,15%);
                    }
              }
    }
}

ul.is-style-checkmark-list {
  padding-left: 17.5px;
  list-style-type: "\f058";
  li {
    margin-top: .75rem;
    font-weight: $demi-bold;
    &::marker {
      @include fas;
     }
  }
  &.green {
    li::marker {
      color: $green-four;
    }
  }
}

//box sizing
.container {
      width: 100%;
      max-width: $content-width;
      margin-left: auto;
      margin-right: auto;
      padding-left: $sidepad;
      padding-right: $sidepad;
}
.wp-block-columns {
      gap: $sidepad;
}

header.wp-block-template-part {
  position: relative;
  a {
    text-decoration: none;
   }
   .wp-block-site-logo {
     img.custom-logo {
       top:-5px;
       position: relative;
     }
   }
   div.mega-menu-wrap {
     position: static !important;
     ul.mega-menu {
       position: static !important;
       li.mega-menu-item {
         a.mega-menu-link {
           font-weight: $demi-bold !important;
         }
       }
       li.mega-menu-item-has-children {
         
         a.mega-menu-link {
           span.mega-indicator {
              color: $green-four !important;
              display: inline-block !important;
              float: unset  !important;
              &:after  {
                content: '\f13a' !important;
                display: block !important;
                height: 13px !important;
                width: 13px !important;
                line-height: 13px !important;
                background: $green-one !important;
                border-radius: 50%;
                font-size: 15px;
                text-align: center;
                @include fas;
            }
          }
        }
        > ul.mega-sub-menu {
          position: absolute !important;
          top: 100% !important; 
          left: 0 !important; 
          width: 100vw !important;          
          z-index: 1000 !important;
          overflow: hidden !important;
          box-sizing: border-box !important;
          box-shadow: 10px 0 10px black;
          //opacity: 1 !important;
          //visibility: visible !important;
             li.mega-menu-row { 
               ul.mega-sub-menu {
                 border: 0  !important;
                 width: auto !important;
                  left: auto !important;
                  position: static !important;
                  max-width: 1660px !important;
                  margin: auto !important;
                   li {
                      ul.mega-sub-menu {
                        li.mega-menu-item {
                          a.mega-menu-link {
                            font-weight: $demi-bold !important;
                            display: inline-block !important;
                            margin-bottom: 0 !important;
                            span.mega-indicator {
                              rotate: -90deg;
                              margin-left: 10px !important;
                            }
                          }
                          ul.mega-sub-menu {
                           li.mega-menu-item {
                            a.mega-menu-link {
                              font-weight: $regular !important;
                              line-height: 1.3 !important;
                            }
                          } 
                          li.mega-current-menu-item {
                            a.mega-menu-link {
                              color: $green-four !important;
                            }
                          }
                        }
                       }
                      li.mega-current-menu-item {
                         a.mega-menu-link {
                           color: $green-four !important;
                         }
                         li {
                           a.mega-menu-link {
                            color: $white !important;
                           }   
                         }
                       }                       
                      }
                    }
                     li#mega-menu-143-0-0 {
                       background: linear-gradient(220deg, rgba(170,230,140,0) 0%, rgba(170,230,140,0.25) 100%) !important;
                       border: 1px solid $green-three !important;
                       border-radius: 15px !important;
                       padding-top: 14px !important;
                       width: calc(33.33% - 30px) !important;
                       margin-right: 30px !important;
                       li.heat-pumps {
                         background-image: url('images/heat-pump-menu.png') !important;  
                         background-repeat: no-repeat !important;
                         background-position: 93% 0 !important;
                         background-size: 150px !important;
                         padding-top: 40px !important;
                         margin-top: -40px !important;
                      }
                   }
                  }
                }
              }
            }
          }
    }
}
